
// color style

$color-back : #fafafa;
$color-3d : #3d3d3d;
$color-aa : #aaaaaa;
$color-ca : #ca7379;
$color-ff : #ffffff;
$color-black : #000000;

// size style

$size-content : 1170px;
$size-full : 100%;
$size-source : 10px;

//font-size style

$size-small : 9px;
$size-normal : 12px;
$size-large : 30px;

// 사용변수

$back: $color-back;
$main : $color-3d;
$sub : $color-aa;
$red : $color-ca;
$white : $color-ff;
$black : $color-black;

$content:$size-content;
$full : $size-full;
$source : $size-source;

$small : $size-small;
$normal : $size-normal;
$large : $size-large;